@charset "utf-8";

/* ========================================
    リセットcss
========================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-style:normal;
	font-weight: normal;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{overflow-y: scroll;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
input, textarea,{margin: 0; padding: 0;}
ol, ul{list-style:none;}
table{border-collapse: collapse; border-spacing:0;}
caption, th{text-align: left;}
a:focus {outline:none;}


/* ========================================
	フロートの解除
========================================= */

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}



/* ========================================
	全体設計
========================================= */
body {
	color:#555;
	font-size: 14px;
	line-height: 1;
	font-family: "メイリオ", Meiryo;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#header{
	width: 100%;
	position: fixed;
	margin: 20px 0px 20px 20px;
}

#header .titlemenu ul{
	display: flex;
	justify-content: end;
	margin-right:20px;
	margin-top: -35px;

}
.titlemenu ul li{
	margin: 20px;
}
.titlemenu ul li a{
    font-size: 14px;
    font-weight: bold;
	text-decoration: none;
    color: #555555;

}

#main{
	display: flex;
    height: 300px;
	justify-content: center;
}
h2{
	margin: 0px auto 20px auto;
	padding-top: 100px;
	width: 960px;
    height: 300px;
    margin-bottom: 20px;
}

.inquiry ul{
	margin-right: 20px;
	width: 250px;
	height: 50px;
	line-height: 100px;
}
.inquiry ul li{
    background-color: #f5fbff;
    border: 1px solid #63abd4;
	width: 265px;
    height: 48px;
	margin: 20px 0px 10px 15px;
	line-height: 50px;
}

.inquiry ul li a{
	font-size: 16px;
	font-weight: bold;
	padding-left: 50px;
	text-decoration: none;
	color: #555555;

}

a#icon_tel {
	background: url(images/icon_tel.png) no-repeat 14px center;
}

a#icon_blog {
	background: url(images/icon_blog.png) no-repeat 14px center;
}

a#icon_voice {
	background: url(images/icon_voice.png) no-repeat 14px center;
}

.news{
	margin-left: 30px;
	padding: 20px 15px 0px 10px;
}
.newsscoll{
	overflow-y: scroll;
	height: 250px;
}
h3 {
	font-size: 18px;
	font-weight: bold;
	color: #555555;
	margin-bottom: 15px;
}

th{
	color: #a8a8a8;
	font-size: 12px;
	width: 79px;
    line-height: 40px;
	padding-left: 10px;
}
td{
	color: #555555;
    font-size: 14px;
    width: 556px;
}

tr:nth-of-type(odd) {
    background-color: #f5f5f5;
}

#tab{
	position: fixed;
    bottom: 0px;
    right: 0px;
	border-radius: 5px 5px 0 0 ;
	margin: 0 10px 65px auto;
	width: 80px;
	height: 25px;
    background-color: #63abd4;
	line-height: 25px;
	text-align: center;
}
#tab a{
	text-decoration: none;
	color: white;
}

#footer{
	width: 100%;
	position: fixed;
    bottom: 0;
	padding: 15px 0px 20px 20px;
    background-color: #63abd4;
}

#footer .footmenu ul{
	display: flex;
	justify-content: end;
	margin-right:40px;
	margin-top: -20px;
}
.footmenu ul li{
	color: #fff;
	font-weight:bold;
	margin-left: 20px;
}